@import "../_scss/variables";

form {}

input {
  height:50px;
  width: 100%;
  color: $color-light-grey;
  border-radius: 5px;
  border-color: transparent;
  background-color: $color-search-input;
  font-size: 20px;
  padding: 0 20px;
  box-sizing: border-box;
}
