@import "../_scss/variables";

.beer-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: $color-popup-bc;
  padding: 40px;
  box-sizing: border-box;
}
.beer-details-loader {
  position: fixed;
  top: 50%;
  left: calc(50% - 40px);

}
article.beer-details-content {
  background-color: $color-beer-card;
  padding: 50px;
  border-radius: 8px;
  max-width: 1150px;
  width: 100%;
}

section.beer-info {
  width: 100%;
}

.beer-image-container {
  width: 100%;
  max-width: 240px;
  padding: 30px;
  position: relative;
  box-sizing: border-box;
  float: left;
}

img.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: top center;
  transition: opacity 0.3s;
  opacity: 0;
}

img.ng-lazyloaded {
  opacity: 1;
}

img.ng-lazyloaded ~ img.loader {
  opacity: 0;
}

img.loader {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

.beer-text {
  padding: 10px 60px;
  box-sizing: border-box;
  float: left;
  width: calc(100% - 240px)
}

header {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 15px;

  &:after {
    content: "";
    display: block;
    width: 90px;
    height: 8px;
    background-color: $color-gold;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

h4.card-title {
  font-size: 44px;
  color: $color-grey;
  margin: 0 0 15px 0;
  font-weight: bold;
}

p.card-text {
  font-size: 32px;
  color: $color-light-grey;
  margin: 0 0 5px 0;
}

ul.beer-stats {
  margin: 0 0 50px 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 25px;
    font-size: 32px;
    color: $color-grey;

    span {
      font-weight: bold;
    }
  }
}

p.beer-desc {
  font-size: 30px;
  color: $color-grey;
  margin: 0 0 35px 0;
  line-height: 150%;
}

ul.food-pairing {
  margin: 0 0 60px 0;
  padding: 0;
  list-style: none;

  li {
    font-size: 30px;
    color: $color-grey;
    line-height: 150%;
  }
}

.recommended-beers {

}

h5 {
  font-size: 30px;
  color: $color-grey;
  font-weight: bold;
  margin: 0;
  line-height: 150%;
}

.recommended-beers {
  padding: 0 30px;
  position: relative
}

.recommended-beers-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  position: relative;
  min-height: 350px;
}

h5.recommended-beers-title {
  margin-bottom: 20px;
}

.recommended-beers-card {
  width: 33%;
  margin-bottom: 30px;
}

.recommended-beers-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s ease;
}

app-beer-recommended ~ .recommended-beers-loader {
  opacity: 0;
  z-index: -1;
}

.mobile-devices-section {

  .beer-image-container.mobile-devices {
    display: none;
    width: 40%;
    height: 400px;
    position: relative;
    padding: 0 50px 20px 0;
  }
  img.image {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@media (max-width: $xl) {
  article.beer-details-content {
    max-width: $md;
  }
  ul.beer-stats {
    li {
      font-size: 24px;
    }
  }
  p.beer-desc {
    font-size: 24px;
  }
  h5 {
    font-size: 24px;
  }
  ul.food-pairing {
    li {
      font-size: 24px;
    }
  }
  .beer-text {
    width: 100%;
    padding: 10px 25px;
  }
  .beer-image-container {
    display: none;
  }

  .mobile-devices-section {
    display: flex;
    .beer-image-container.mobile-devices {
      display: block;
    }
  }
  ul.beer-stats {
    li {
      display: block;
    }
  }
  .recommended-beers-card {
    width: 50%;
    &:nth-child(3) {
      display: none;
    }
  }
}

@media (max-width: $lg) {
  article.beer-details-content {
    max-width: $sm;
    padding: 50px 0;
  }
  .recommended-beers-card {
    width: 100%;
    &:nth-child(3) {
      display: block;
    }
  }
}

@media (max-width: $md) {
  .mobile-devices-section {
    flex-wrap: wrap;
    .beer-image-container.mobile-devices {
      display: block;
      width: 100%;
      padding: 0 0 30px 0;
    }
  }
}
