<div class="beer-details" routerLink="/" @fadeInOut>
  <img *ngIf="!(beer)" @fadeInOut class="beer-details-loader"
       [src]="'/assets/svg/loader.svg'" alt="">
  <article *ngIf="beer" class="beer-details-content" (click)="stopPropagation($event)" @itemState>
    <section class="beer-info">
      <div class="beer-image-container">
        <img *ngIf="beer.image_url" class="image" [lazyLoad]="beer.image_url">
        <img class="loader" [src]="'/assets/svg/loader.svg'" alt="">
      </div>
      <div class="beer-text">
        <div class="mobile-devices-section">
          <div class="beer-image-container mobile-devices">
            <img *ngIf="beer.image_url" class="image" [lazyLoad]="beer.image_url">
            <img class="loader" [src]="'assets/svg/loader.svg'" alt="">
          </div>
          <div>
            <header>
              <h4 class="card-title">{{beer.name}}</h4>
              <p class="card-text">{{beer.tagline}}</p>
            </header>
            <ul class="beer-stats">
              <li *ngIf="beer.ibu"><span>IBU:</span> {{beer.ibu}}</li>
              <li *ngIf="beer.abv"><span>ABV:</span> {{beer.abv}}%</li>
              <li *ngIf="beer.ebc"><span>EBC:</span> {{beer.ebc}}</li>
            </ul>
          </div>
        </div>
        <p *ngIf="beer.description" class="beer-desc">{{beer.description}}</p>
        <h5>Best served with:</h5>
        <ul *ngIf="beer.food_pairing" class="food-pairing">
          <li *ngFor="let pair of beer.food_pairing">- {{pair}}</li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </section>
    <div class="recommended-beers">
      <h5 class="recommended-beers-title">You might also like:</h5>
      <div class="recommended-beers-content">
        <app-beer-recommended
          class="recommended-beers-card"
          *ngFor="let recBeer of recommended"
          [beer]="recBeer"
          routerLink="/beer-details/{{recBeer?.id}}"
          @fadeIn
        ></app-beer-recommended>
        <img [ngClass]="{'hide': recommended}" class="recommended-beers-loader"
             [src]="'/assets/svg/loader.svg'" alt="">
      </div>
    </div>
  </article>
</div>
