$color-gold: #fdc22a;
$color-grey: #737373;
$color-light-grey: #cbcbcb;
$color-background: #f8f8f8;
$color-beer-card: #fff;
$color-search-input: #fff;
$color-popup-bc: rgba(0, 0, 0, 0.6);

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 340px;
