@import "../../_scss/variables";

.recommended-beer-card {
  max-width: 100%;
  width: 100%;
  min-height: 330px;
  height: 100%;
  border: solid 1px $color-light-grey;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0);

  &:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  }
}

.beer-image-container {
  width: 100%;
  height: 230px;
  margin-bottom: 35px;
  position: relative;
}

img.image {
  height: 230px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

img.ng-lazyloaded {
  opacity: 1;
}

img.ng-lazyloaded ~ img.loader {
  opacity: 0;
}

img.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

h5 {
  font-size: 30px;
  color: $color-grey;
  font-weight: bold;
  margin: 0;
  line-height: 150%;
  text-align: center;
}


@media (max-width: 1235px) {

}
