<div class="recommended-beer-card">
  <div class="beer-image-container">
    <img *ngIf="beer.image_url" class="image" [lazyLoad]="beer.image_url">
    <img class="loader" [src]="'/assets/svg/loader.svg'" alt="">
  </div>
  <h5 class="beer-name">{{beer.name}}</h5>
</div>
