<article *ngIf="beer" class="beer-card">
  <div class="beer-card-content">
    <div class="image-container">
      <img *ngIf="beer.image_url" class="image" [lazyLoad]="beer.image_url">
      <img class="loader" [src]="'/assets/svg/loader.svg'" alt="">
    </div>
    <div class="card-body">
      <h4 class="card-title">{{beer.name}}</h4>
      <p class="card-text">{{beer.tagline}}</p>
    </div>
  </div>
</article>
