@import '../_scss/variables';

:host() {
  max-width: 600px;
  width: 33%;
  display: block;
}

.beer-card {
  padding: 25px;
  box-sizing: border-box;
  max-width: 500px;
}

.beer-card-content {
  width: 100%;
  min-height: 500px;
  background-color: $color-beer-card;
  margin-bottom: 30px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.01);
  transform: scale(1);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.03);
    transform: scale(1.05);
  }
}

.image-container {
  position: relative;
  width: 100%;
  height: 330px;
  margin-bottom: 30px;
}

img.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  transition: opacity 0.3s;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

img.ng-lazyloaded {
  opacity: 1;
}

img.ng-lazyloaded ~ img.loader {
  opacity: 0;
}

img.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

h4.card-title {
  font-size: 32px;
  color: $color-gold;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

p.card-text {
  font-size: 26px;
  color: $color-light-grey;
  text-align: center;
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: $xl) {
  :host() {
    width: 50%;
  }
}

@media (max-width: $md) {
  :host() {
    width: 100%;
  }
}
