@import '_scss/_variables.scss';

:host() {
  display: block;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: $color-background;
}

.main-container {
  windth: 100%;
  max-width: 1550px;
  margin: 0 auto;
  padding: 25px;
  box-sizing: border-box;
}

nav.nav {
  margin-top: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.nav-title {
  max-width: 50%;
}

.nav-search {
  max-width: 50%;
}

h1 {
  text-transform: uppercase;
  color: $color-grey;
  font-size: 65px;
  line-height: 50px;
  margin: 0;
  font-weight: bold;
  span {
    color: $color-gold;
  }
}

.beer-list {
  margin: 0 -15px 50px -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.main-beer-loader {
  margin: 30px auto;
  display: block;
}

.bottom-elements {
  height: 100px;
  width: 100%;
  position: relative;
  .main-beer-loader {
    position: absolute;
    top: 0;
    left: calc(50% - 40px);
  }
  article.no-more-to-show-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    color: #737373;
    font-size: 30px;
    line-height: 100%;
    margin: 0 0 50px 0;
    text-align: center;
  }
}

:host() /deep/ app-beer-search {
  margin-left: auto;
}

@media (max-width: $xl) {
  .main-container {
    max-width: $lg;
  }
  nav.nav {
    margin-top: 70px;
    margin-bottom: 60px;
  }
}

@media (max-width: $lg) {
  .main-container {
    max-width: $md;
  }
}

@media (max-width: $md) {
  .main-container {
    max-width: $sm;
  }
  .nav-title {
    width: 100%;
    margin-bottom: 30px;
  }
  .nav-search {
    max-width: 460px;
    width: 100%;
  }
}

@media (max-width: $sm) {
}
