<div class="main-container">

  <nav class="nav" @itemState>
    <div class="nav-title">
      <h1>
        <span>Beer</span>Guru
      </h1>
    </div>
    <div class="nav-search">
      <app-beer-search></app-beer-search>
    </div>
  </nav>

  <section class="beer-list">
    <app-beer-card
      [beer]="beer"
      *ngFor="let beer of beersShowed"
      @itemState
      class="beer-card"
      routerLink="/beer-details/{{beer?.id}}"
    ></app-beer-card>
  </section>

  <div class="bottom-elements">
    <img class="main-beer-loader"  *ngIf="showBeerLoader" src="/assets/svg/loader.svg" alt="" @itemState>
    <article class="no-more-to-show-text" *ngIf="noMoreToShow" @itemState>
      these are all the beers we've found...
    </article>
  </div>

  <router-outlet></router-outlet>

</div>
